#Auth Credentials 
FTS=True
#Instagram
INST_USER=""
INST_PASS=""

#TikTok
TT_USER=""
TT_PASS=""

#Youtube
YOUT_USER=""
YOUT_PASS=""

#Twitter
TWITTER_USER=""
TWITTER_PASS=""

#Misc Settings
USER_OS=""
BROWSER=""

